.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,68,74,1) 40%, rgba(65,84,88,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 400px;
  padding-right: 100px;
}

.App-link {
  color: #61dafb;
}
.table{
  background-color: white;
  max-width: 400vh;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.table thead{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

.v{
  color: green;
}
.r{
  color:red;
}
.message{
  font-size: 16px;
  color: #e0e0e0;

}
.centrar
{
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:30%;
  left:30%;
  /*determinamos una anchura*/
  width:70%;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-200px;
  /*determinamos una altura*/
  height:auto;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-150px;
  border:1px solid #808080;
  padding:5px;
}

.login{
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:30%;
  left:55%;
  /*determinamos una anchura*/
  width:20%;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-200px;
  /*determinamos una altura*/
  height:auto;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-150px;
  border:1px solid #808080;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
-webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: inset 0px 2px 11px -2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 2px 11px -2px rgba(0,0,0,0.75);
box-shadow: inset 0px 2px 11px -2px rgba(0,0,0,0.75);
border-radius: 7px;
  padding:5px;
  background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(215,233,236,1) 100%);
}
.input-area{
 

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Botonera{
  padding-bottom: 10px;
  }

  .classes.button{
    height:30px;
    margin-bottom:50px;
    padding-right: 50px;
    padding-left: 250px;  
    border-bottom:#CCC dotted 2px;
    width:900px;
    float:left;
  }

  .carousel{
    padding-left: 300px;
    padding-right: 20px;
       

  }